<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.catchpig.mvvm">
    <!--读写文件权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <provider
            android:authorities="${applicationId}.KotlinMvpContentProvider"
            android:name=".provider.KotlinMvpContentProvider"
            android:exported="false"/>
    </application>
</manifest>
