<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!--安装apk权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.catchpig.kmvvm.app.KotlinMvpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.catchpig.kmvvm.recycle.RecycleActivity" />
        <activity android:name="com.catchpig.kmvvm.fullscreen.FullScreenActivity" />
        <activity android:name="com.catchpig.kmvvm.transparent.TransparentActivity" /> <!-- 适配华为（huawei）刘海屏 -->
        <activity
            android:name="com.catchpig.kmvvm.main.view.MainActivity"
            android:configChanges="uiMode|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 适配小米（xiaomi）刘海屏 -->
        <activity android:name="com.catchpig.kmvvm.child.ChildActivity" />
        <activity android:name="com.catchpig.kmvvm.apk.view.InstallApkActivity" />

        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.catchpig.kmvvm.initializer.KmvvmInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

    <dist:module dist:instant="true" />

</manifest>